<div class="workshop">
    <h3><a href="<%= url_for workshop %>"><%= workshop.name %></a></h3>
    <p><%= workshop.description %></p>
    <div class="details"><a href="<%= url_for workshop %>">details &amp; registration &rarr;</a></div>
</div>