<div class="hero">
    <div class="container">
        <h2>Programmers are best taught by other programmers.</h2>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="span6">
            <h3>Workshops</h3>

            <p>Mind the Geek offers a series of Workshops conducted by top-notch programmers who love what
                they do. With small batch sizes and an intimate environment, they're a great way to learn something new.
            </p>

            <p>These workshops are meant for self-motivated personal development and are priced accordingly. if you'd
                like to organize a corporate workshop, please contact
                <a href="mailto:sudhir.j@mindthegeek.com">sudhir.j@mindthegeek.com</a></p>
            <%=render 'sharing'%>            
        </div>
        <div class="span6">
            <% for workshop in @workshops %>
                <%= render workshop %>
            <% end %>
        </div>
    </div>
</div>