<div class="sharing">
<h4>Follow Mind The Geek</h4>
<span class="btn-group follows">
  <a href="https://www.facebook.com/MindTheGeek" class="btn"><i class="icon-facebook"></i></a>
  <a href="https://twitter.com/intent/user?screen_name=mindthegeek" class="btn"><i class="icon-twitter"></i></a>  
  <a href="https://plus.google.com/115250516126586951622" rel="publisher" class="btn"><i class="icon-google-plus"></i></a>
</span>
</div>